---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <div class="cv">
                    {% if page.title == "CV" %}
                        Click on the icon to download a copy of my CV.
                        <br>
                        <embed src="http://alex-c-jenkins.github.io/assets/pdf/cv.pdf" width="100%" type="application/pdf">
                    {% elsif page.title == "Thesis" %}
                        Click on the icon to download a copy of my PhD thesis.
                    {% endif %}
              </div>
          </article>

        </div>
